{% extends 'main.html' %} {% block content %}

<form class="max-w-md mx-auto my-3" action="" method="POST">
  <!-- Book Title -->
  {% csrf_token %}
  <input type="text" name="id" value="{{book.id}}" hidden>
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="text"
      name="title"
      id="book_title"
      class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      value="{{book.title}}"
      required
    />
    <label
      for="book_title"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    >
      Title
    </label>
  </div>
  <!-- Book Author -->
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="text"
      name="author"
      id="book_author"
      class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      value="{{book.author}}"
      required
    />
    <label
      for="book_author"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    >
      Author
    </label>
  </div>

  <!-- Book Publisher -->
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="text"
      name="publisher"
      id="book_publisher"
      class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      value="{{book.publisher}}"
      required
    />
    <label
      for="book_publisher"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    >
      Publisher
    </label>
  </div>

  <!-- Publication Date -->
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="date"
      name="publication_date"
      id="book_publication_date"
      class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      value="{{book.publication_date}}"
      required
    />
    <label
      for="book_publication_date"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    >
      Publication Date
    </label>
  </div>

  <!-- Image URL -->
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="url"
      name="image"
      id="book_image_url"
      class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      value="{{book.image}}"
      required
    />
    <label
      for="book_image_url"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    >
      Image URL
    </label>
  </div>

  <!-- Price -->
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="number"
      step="0.01"
      name="price"
      id="book_price"
      class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      value="{{book.price}}"
      required
    />
    <label
      for="book_price"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    >
      Price
    </label>
  </div>

  <!-- Genre -->
  <div class="relative z-0 w-full mb-5 group">
    <input
      type="text"
      name="genre"
      id="book_genre"
      class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      value="{{book.genre}}"
      required
    />
    <label
      for="book_genre"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    >
      Genre
    </label>
  </div>

  <div class="relative z-0 w-full mb-5 group">
    <textarea
      type="text"
      name="description"
      id="book_genre"
      class="block py-2.5 px-0 w-full text-sm text-black bg-transparent border-0 border-b-2 border-gray-300 appearance-none focus:outline-none focus:ring-0 focus:border-blue-600 peer"
      placeholder=" "
      required
    >{{book.description}}</textarea>
    <label
      for="book_description"
      class="peer-focus:font-medium absolute text-sm text-gray-500 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:text-blue-600 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
    >
      Description
    </label>
  </div>

  <!-- Submit Button -->
  <button
    type="submit"
    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
  >
    Update
  </button>
</form>

{% endblock %}
